.container {
  background: rgb(149, 27, 149);
  color: #fff;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log {
  border: 1px solid;
  padding: 5px 50px;
  border-radius: 10px;
  margin-top: 10px;
}

.h2 {
  margin-bottom: 5px;
}

.h3 {
  margin-top: 5px;
}

.desc {
  text-transform: capitalize;
}

.btn {
  padding: 12px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 2rem;
}

.history {
  background: yellow;
}

.history:is(:hover, :focus, :active) {
  background: rgb(216, 216, 3);
}