.container {
  background: var(--darker-purple);
  color: var(--light);
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: 1.8em;
  margin-top: 5em;
}

.log {
  border: 1px solid;
  padding: 5px 50px;
  border-radius: 10px;
  margin-top: 10px;
  background: var(--faded);
}

.location {
  margin-bottom: 5px;
  font-size: 1.5em;
}

.date {
  margin-top: 5px;
  font-size: 1.25em;
}

.desc {
  text-transform: capitalize;
}

.btn {
  padding: 12px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.history {
  background: var(--yellow);
}

.history:is(:hover, :focus, :active) {
  background: var(--yellow-hover);
}

@media (max-height: 500px) {
  .subtitle {
    margin-top: 3em;
  }
}