.container {
  background: rgb(149, 27, 149);
  color: #fff;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  position:absolute;
  top: 0;
  left: 0;
  display: flex;
  padding-left: 20px;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .menu {
    margin: 10px;
  }
}

@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
  }

  .menu {
    margin: 36px;
  }
}

.city {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 2.3rem;
  text-align: center;
}

@media (max-width: 600px) {
  .city {  
    font-size: 2.3rem;
  }
}

@media (min-width: 600px) {
  .city {  
    font-size: 3rem;
  }
}

.date {
  font-size: 1.1rem;
}

.conditions {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.tempContainer {
  text-align: center;
}

.temp {
  font-size: 2.5rem;
}

.celcius {
  font-size: 1.5rem;
}

.desc {
  text-transform: capitalize;
}

.btnContainer {
  display: flex;
  gap: 1.5rem;
  margin-top: 3rem;
}

@media (max-width: 360px) {
  .btnContainer {
    flex-direction: column;
  }
}

.btn {
  padding: 15px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.save {
  background: rgb(2, 187, 2);
}

.save:is(:hover, :focus, :active) {
  background: rgb(2, 152, 2);
}

.history {
  background: yellow;
}

.history:is(:hover, :focus, :active) {
  background: rgb(216, 216, 3);
}
