.container {
  color: var(--light);
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backgroundImg, .backgroundImg2 {
  z-index: -1;
}

.textContainer {
  background: var(--faded);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .backgroundImg {
    display: block;
  }

  .backgroundImg2 {
    display: none;
  }
}

@media (min-width: 600px) {
  .backgroundImg {
    display: none;
  }

  .backgroundImg2 {
    display: block;
  }
}

@media (max-height: 500px) {
  .textContainer {
    padding: 1.5em;
  }
}