.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding-left: 20px;
  width: 100%;
  background: var(--nav-bg);
  transition: 1s;
}

.darkPurple {
  color: var(--darker-purple);
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menuItem:is(:hover, :focus, :active) {
  color: var(--dark-purple);
}

.menuItem a {
  font-size: 1.15em;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .pageTitle {
    margin-block-start: 0.3em;
    margin-block-end: 0.1em;
  }

  .menu {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
  }

  .pageTitle {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
  }

  .menu {
    margin: 36px;
  }
}

@media (max-height: 500px) {
  .pageTitle {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }
  
  .menu {
    margin: 15px;
  }
}