.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding-left: 20px;
  width: 100%;
  background: rgba(255,255,255,0.9);
  transition: 1s;
}

.darkPurple {
  color: #9A099A;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menuItem:is(:hover, :focus, :active) {
  color: #bb0bbb;
}

.menuItem a {
  font-size: 1.15em;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .pageTitle {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
  }

  .menu {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
  }

  .pageTitle {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
  }

  .menu {
    margin: 36px;
  }
}