.navbar {
  position:absolute;
  top: 0;
  left: 0;
  display: flex;
  padding-left: 20px;
  width: 100%;
  background: rgba(255,255,255,0.9);
}

.darkPurple {
  color: #9A099A;
}

.lightPurple {
  color: var(--purple);
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .menu {
    margin: 10px;
  }
}

@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
  }

  .menu {
    margin: 36px;
  }
}